html {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-width: 400px;
}

ul {
    list-style-type: none;
}

.header {
    text-decoration: none;
    color: #222;
}

.header:hover {
    text-decoration: underline;
}

.footer {
    text-decoration: none;
    color: #70757a;
}

.footer:hover {
    text-decoration: underline;
}

.button {
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    color: #3c4043;
    cursor: pointer;
    height: 36px;
}

.button:hover {
    -webkit-box-shadow: 1px 1px 5px gray;
            box-shadow: 1px 1px 5px gray;
    
}

#profile {
    display: block;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#profile:hover {
    -webkit-box-shadow: 1px 1px 5px 5px hsl(0, 0%, 75%);
            box-shadow: 1px 1px 5px 5px hsl(0, 0%, 75%);

}

#menuicon {
    display: block;
    width: 18px;
    height: 18px;
}

#menuicon:hover {
    -webkit-box-shadow: 1px 1px 7px 5px hsl(0, 0%, 75%);
            box-shadow: 1px 1px 7px 5px hsl(0, 0%, 75%);
}

#google {
    display: block;
    width: 272px;
    height: 92px;
}

.searchbox {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 550px;
    height: 45px;
    border-radius: 30px;
    border-color: hsl(0, 0%, 85%);
    border-style: solid;
    border-width: 1px;
}

.searchbox:hover {
    -webkit-box-shadow: 1px 1px 5px hsl(0, 0%, 80%);
            box-shadow: 1px 1px 5px hsl(0, 0%, 80%);
}

#searchbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchbutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.spacebetween {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10px;

}

/* trying out flexbox here */

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

/* .box 1 is header */

.box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 7%;
    margin: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.leftbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    height: 100%;
    width: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.rightbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    height: 100%;
    width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* .box2 contains google logo */

.box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/* .box3 contains search bar and search buttons */

.box3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* .box4 is blank space between .box3 and footer */

.box4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 35%;
}

/* .box5 is footer */

.box5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2f2f2;
    height: 6%;
    margin: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.leftbox5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    height: 100%;
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.rightbox5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    height: 100%;
    width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}